<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {{styles}}
    </style>
  </head>
  <body>
    <div class="doc">
      <div class="container">
        <div class="logo">
          <img
            src="https://televista.onrender.com/images/channels/netflix.webp"
            alt="{{brand}} Brand"
          />
        </div>
        <div class="title">Congratulations {{user.username}} 🎉🎉!</div>
        <p>
          Your account is now active and ready for exploration. Here are your
          <br />
          login details: Login:
          {{account.login}}, Password:
          {{account.password}}
        </p>
        <p>
          Dive into a world of entertainment with Televista. Use these
          credentials to access your account and explore a wide range of shows,
          movies, and more.
        </p>
        <button href="/">{{brand}}</button>
      </div>
    </div>
  </body>
</html>